* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #0f0d0d;
    cursor: none;
}

/* Custom cursor start */
#custom-cursor {
    padding: 10px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 50%;
    position: fixed;
    background-color: #edbfff;
    z-index: 10;
    mix-blend-mode: difference;
    transition: top linear 0.1s left linear 0.1s background-image ease 0.5s;
    background-position: center;
    background-size: cover;
}
/* Custom cursor end */

/* Navbar start */
#nav {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 20;
}

#nav img.logo {
    height: 26px;
}

#nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav .nav-links h4 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

#nav .nav-links h4:first-of-type {
    border-bottom: 1.5px solid #fff;
}

#nav .nav-right .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}
/* Navbar end */

/* Hero section start */
#hero-section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 11;
    padding-top: 12vw;
}

#hero-section .header h1.title {
    font-size: 8vw;
    font-weight: 400;
    transform-origin: left;
}

#hero-section .header h1.title:first-of-type {
    margin-left: 6vw;
}

#hero-section .header h1.title:last-of-type {
    margin-left: 25vw;
}

#hero-section .video-wrapper video {
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
/* Hero section end */

/* About us start */
#about-us-section {
    min-height: 100vh;
    width: 100%;
    padding: 150px 5vw;
    border-bottom: 2px solid #000;
    position: relative;
    z-index: 11;
}

#about-us-section h1.title {
    font-size: 7vw;
    font-weight: 300;
    color: #111;
    margin-bottom: 5vw;
}

#about-us-section .about-us-wrapper {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-us-section .about-us-wrapper .about-us-left {
    width: 40%;
}

#about-us-section .about-us-wrapper .about-us-left h2 {
    font-size: 4vw;
    font-weight: 300;
    text-transform: uppercase;
    color: #111;
    line-height: 1;
}

#about-us-section .about-us-wrapper .about-us-right {
    width: 24%;
}

#about-us-section .about-us-wrapper .about-us-right p {
    font-size: 27px;
    color: #111;
}

#about-us-section .about-us-wrapper .about-us-right button {
    width: 100%;
    background-color: #edbfff;
    border-radius: 50px;
    border: none;
    padding: 10px 0;
    margin-top: 10px;
    color: #000;
    cursor: pointer;
}
/* About us end */

/* Our work start */
#our-work-section {
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 11;
}

#our-work-section h1 {
    font-size: 7vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}

#our-work-section .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#our-work-section .first-row img {
    height: 475px;
    margin-top: 100px;
}

#our-work-section .first-row video {
    height: 420px;
    margin-top: 100px;
}

#our-work-section .row .description {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 8px;
}

#our-work-section .row .row-left .description {
    justify-content: flex-end;
}

#our-work-section .row .row-right .description {
    justify-content: flex-start;
}

#our-work-section .row .description h6 {
    color: #111;
    font-size: 16px;
    line-height: 0.8;
}

#our-work-section .row .description p {
    color: #111;
    font-size: 12px;
}
/* Our work end */

/* Our services start */
#our-services-section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 11;
    padding: 250px 100px;
}

#our-services-section .service {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#our-services-section .service .text {
    height: 8vw;
    overflow: hidden;
}

#our-services-section .service .text h1 {
    font-size: 7.3vw;
    transition: all ease-out 0.5s;
    position: relative;
    z-index: 12;
}

#our-services-section .service img {
    position: absolute;
    width: 400px;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}

#our-services-section .service img:nth-child(1) {
    left: 2%;
}

#our-services-section .service img:nth-child(3) {
    right: 2%;
}

#our-services-section .service:hover h1 {
    transform: translateY(-100%);
    color: #edbfff;
}

#our-services-section .service:hover img {
    opacity: 1;
    transform: translateY(0) rotate(0);
}
/* Our services end */

/* Our clients start */
#our-clients-section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 11;
    padding: 150px 100px;
}

#our-clients-section h2 {
    font-size: 6vw;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#our-clients-section .client-work {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-inline: 20px;
    border-top: 1.5px solid #dadada;
}

#our-clients-section .client-work:last-child {
    border-bottom: 1.5px solid #dadada;
}

#image-preview {
    width: 470px;
    height: 370px;
    position: fixed;
    z-index: 12;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
    opacity: 0;
}
/* Our clients end */

/* Footer start */
footer{
    min-height: 30vh;
    width: 100%;
    background-color: #edbfff;
    font-size: 1.5vw;
    text-align: center;
    padding: 15px;
}
/* Footer end */
