* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #0F0D0D;
}

#nav {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
}

#nav img.logo {
    height: 26px;
}

#nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav .nav-links h4 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

#nav .nav-links h4:first-of-type {
    border-bottom: 1.5px solid #fff;
}

#nav .nav-right .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}

#hero-section {
    min-height: 100vh;
    width: 100%;
}

#hero-section .header h1.title {
    font-size: 8vw;
    font-weight: 400;
}

#hero-section .header h1.title:first-of-type {
    margin-top: 12vw;
    margin-left: 6vw;
}

#hero-section .header h1.title:last-of-type {
    margin-left: 26vw;
}

#hero-section .video-wrapper video {
    width: 60%;
    margin-inline: 20%;
    margin-top: 10vw;
}